<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Overview</h1>    
</div>



<div class="row">
    <div class="col-xl-3 col-md-3 mb-12" *ngFor="let cat of category">
        <div class="card shadow h-100 py-2">
            <div class="card-body" *ngIf="cat">               
                <div>{{ cat.name }} </div> 
                <div>{{ cat.value }} </div> 
                <div> 
                    <i  [ngClass]="{'fa-caret-square-down': cat.change < 0, 'fa-caret-square-up' : cat.change > 0 }" class='fas'></i> {{cat.change}}% change
                </div> 
            </div>            
        </div>
    </div>    
</div>




<div class="row">
    <div class="col-xl-6 col-md-6 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-header">
               Utilization
            </div>
            <div class="card-body">
               
            </div>            
        </div>
    </div>
    <div class="col-xl-6 col-md-6 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-header">
               Received vs Consumed
            </div>
            <div class="card-body">
               
            </div>            
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-xl-6 col-md-6 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-header">
               Bar chart example 1 
            </div>
            <div class="card-body">
               
            </div>            
        </div>
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-header">
               Bar chart example 2
            </div>
            <div class="card-body">
               
            </div>            
        </div>
    </div>
    <div class="col-xl-6 col-md-6 mb-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-header">
                NgPrime Data table example 
            </div>
            <div class="card-body">
               
            </div>            
        </div>
    </div>
    
</div>

